<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Dodaj nową książkę</title>
</head>
<body>
<main class="main-content" layout:fragment="content">
    <h2 class="list-heading">Dodaj nową książkę</h2>
    <form action="#" th:action="@{/admin/dodaj-ksiazke}" method="post" enctype="multipart/form-data"
          class="mc-form" th:object="${book}">
        <label for="title">Tytuł</label>
        <input type="text" id="title" placeholder="Przykładowy tytuł" th:field="*{title}">
        <label for="author">Autor</label>
        <input type="text" id="author" placeholder="Adam Mieckiewicz" th:field="*{author}">
        <label for="publisher">Wydawnictwo</label>
        <input type="text" id="publisher" placeholder="Nowa Era" th:field="*{publisher}">
        <label for="releaseYear">Rok premiery</label>
        <input type="number" id="releaseYear" placeholder="2019" th:field="*{release_year}">
        <label for="pages">Ilość stron</label>
        <input type="number" id="pages" placeholder="123" th:field="*{pages}">
        <label for="genre">Gatunek</label>
        <select id="genre" th:field="*{genre}" required>
            <option value="" hidden>Wybierz gatunek</option>
            <option th:each="genre: ${genres}" th:value="${genre.name}" th:text="${genre.name}"></option>
        </select>
        <label for="promoted">Promowanie na stronie głównej?</label>
        <input id="promoted" type="checkbox" th:field="*{promoted}">
        <label for="img">Obrazek</label>
        <input type="file" id="img" th:field="*{img}" accept="image/png, image/jpeg">
        <label for="description">Pełny opis</label>
        <textarea id="description" rows="10" th:field="*{description}"></textarea>
        <button type="submit">Dodaj</button>
    </form>
</main>
</body>
</html>