<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div class="container">
    <main class="main-content" layout:fragment="content">
        <h2 class="list-heading" th:text="${heading}">Promowane książki / Nazwa Kategorii</h2>
        <p class="list-description" th:text="${description}">Opis sekcji, przykładowo opis kategorii, albo strony głównej</p>
        <ul class="book-list" th:remove="all-but-first">
            <!-- loop through all books -->
            <li class="book-list-item" th:each="book: ${books}">
                <!-- link to a single book page -->
                <a href="#" th:href="@{|/book/${book.id}|}">
                    <!-- path to book photo -->
                    <img src="../static/img/img.jpg"
                         th:src="${book.img ne null} ? @{|/img/${book.img}|} : @{/img/img.jpg}"
                         alt="tytuł książki"
                         class="book-list-item-poster">
                </a>
                <div class="book-list-item-card">
                    <div class="book-list-item-content">
                        <h3 class="book-list-item-title">
                            <a href="#" th:href="@{|/book/${book.id}|}" th:text="${book.title}">Tytuł książki</a>
                        </h3>
                        <h4 th:text="${book.author}">Autor</h4>
                        <p th:text="${book.release_year}">1999</p>
                    </div>
                    <div class="book-list-item-rating">
                        <i class="fas fa-star"></i>
                        <span th:if="${book.ratingCount}" th:text="${#numbers.formatDecimal(book.avgRating, 1, 1)}">9.2</span>
                        <span th:if="!${book.ratingCount}">Brak ocen</span>
                    </div>
                </div>
            </li>
            <li class="book-list-item">
                <a href="#">
                    <img src="../static/img/img.jpg"
                         alt="tytuł książki"
                         class="book-list-item-poster">
                </a>
                <div class="book-list-item-card">
                    <div class="book-list-item-content">
                        <h3 class="book-list-item-title">
                            <a href="#">Tytuł książki</a>
                        </h3>
                        <h4>Angielski tytuł książki</h4>
                        <p>1999</p>
                    </div>
                    <div class="book-list-item-rating">
                        <i class="fas fa-star"></i>
                        <span>8.7</span>
                    </div>
                </div>
            </li>
            <li class="book-list-item">
                <a href="#">
                    <img src="../static/img/img.jpg"
                         alt="tytuł książki"
                         class="book-list-item-poster">
                </a>
                <div class="book-list-item-card">
                    <div class="book-list-item-content">
                        <h3 class="book-list-item-title">
                            <a href="#">Tytuł książki</a>
                        </h3>
                        <h4>Angielski tytuł książki</h4>
                        <p>1999</p>
                    </div>
                    <div class="book-list-item-rating">
                        <i class="fas fa-star"></i>
                        <span>8.7</span>
                    </div>
                </div>
            </li>
        </ul>
    </main>
</div>
</body>
</html>