<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Tytuł książki - LibraryOnline</title>
</head>
<body>
<div class="container">
    <main class="main-content" layout:fragment="content">
        <section class="book">
            <div class="book-summary">
                <img src="../static/img/img.jpg"
                     alt="tytuł książki"
                     class="book-summary-cover"
                />
                <div class="book-summary-info">
                    <h1 class="book-summary-title">Tytuł</h1>
                    <p class="book-summary-author">Autor</p>
                    <p class="book-summary-item">Rok</p>
                    <p class="book-summary-item">Gatunek: <a href="#">Gatunek</a> </p>
                </div>
            </div>
            <div class="book-rating-container book-section">
                <h2 class="book-section-heading">Ocena</h2>
                <div>
                    <p class="book-rating-value" th:text="${avgRating}">4.0</p>
                    <p>Liczba ocen: 134</p>
                </div>
                <form action="#" class="book-rating-form">
                    <p>Twoja ocena</p>
                    <input type="hidden" name="bookId">
                    <div class="book-rating-buttons">
                        <button class="book-rating-button"><i class="fa-solid fa-star"></i></button>
                        <button class="book-rating-button"><i class="fa-solid fa-star"></i></button>
                        <button class="book-rating-button"><i class="fa-solid fa-star"></i></button>
                        <button class="book-rating-button"><i class="fa-solid fa-star"></i></button>
                        <button class="book-rating-button"><i class="fa-regular fa-star"></i></button>
                    </div>
                </form>
                <p><a href="#">Zaloguj się</a>, aby oddać głos</p>
            </div>
        </section>
    </main>
    <main class="main-content">
        <section class="book-section">
            <h2 class="book-section-heading">Opis</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a scelerisque ipsum, ac pulvinar ex.
                In sem justo, facilisis quis quam ut, porttitor auctor elit. Sed eros orci, aliquet ut neque ac,
                accumsan dapibus urna. Nulla facilisi. Nulla porttitor mattis sodales. Curabitur tempus arcu lacus,
                dapibus tincidunt nibh ornare ac. Fusce pretium diam dolor, et efficitur tortor ornare sed. Donec nec
                tellus eu eros pulvinar faucibus. Proin non posuere massa.</p>
        </section>
        <p class = "book-section-reservation"><a href="#">Zaloguj się</a>, aby zarezerwować książkę</p>
    </main>
</div>
</body>
</html>