<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <script defer src="../static/scripts/common.js" th:src="@{/scripts/common.js}"></script>
    <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}">
</head>
<body>
<div class="container">
    <ul class="menu">
        <li class="menu-logo-container">
            <a href="#" th:href="@{/}">
                <i class="fas fa-book logo"></i> Library
            </a>
        </li>
        <li class="menu-toggle">
            <a href="#"><i id="toggle-icon" class="far fa-plus-square"></i></a>
        </li>
        <li class="menu-item">
            <a href="#">Gatunki</a>
        </li>
        <li class="menu-item">
            <a href="#">Top10</a>
        </li>
        <li class="menu-item">
            <a href="#">Zaloguj się</a>
        </li>
    </ul>
    <header class="jumbotron">
        <h1 class="jumbotron-header">book Club</h1>
        <p class="jumbotron-description">
            Witaj w najlepszej bibliotece w internecie!
        </p>
    </header>
    <main class="main-content">
        <h2 class="list-heading" th:text="${heading}">Promowane książki / Nazwa Kategorii</h2>
        <p class="list-description" th:text="${description}">Opis sekcji, przykładowo opis kategorii, albo strony głównej</p>
        <ul class="book-list" th:remove="all-but-first">
            <li class="book-list-item" th:each="book: ${books}">
                <a href="#" th:href="@{|/book/${book.id}|}">
                    <img src="../static/img/img.jpg"
                         th:src="@{/img/img.jpg}"
                         alt="tytuł filmu"
                         class="book-list-item-poster">
                </a>
                <div class="book-list-item-card">
                    <div class="book-list-item-content">
                        <h3 class="book-list-item-title">
                            <a href="#" th:href="@{|/book/${book.id}|}" th:text="${book.title}">Tytuł książki</a>
                        </h3>
                        <h4 th:text="${book.author}">Autor</h4>
                        <p th:text="${book.release_year}">1999</p>
                    </div>
                    <div class="book-list-item-rating">
                        <i class="fas fa-star"></i>
                        <span>8.7</span>
                    </div>
                </div>
            </li>
            <li class="book-list-item">
                <a href="#">
                    <img src="../static/img/img.jpg"
                         alt="tytuł książki"
                         class="book-list-item-poster">
                </a>
                <div class="book-list-item-card">
                    <div class="book-list-item-content">
                        <h3 class="book-list-item-title">
                            <a href="#">Tytuł książki</a>
                        </h3>
                        <h4>Angielski tytuł książki</h4>
                        <p>1999</p>
                    </div>
                    <div class="book-list-item-rating">
                        <i class="fas fa-star"></i>
                        <span>8.7</span>
                    </div>
                </div>
            </li>
            <li class="book-list-item">
                <a href="#">
                    <img src="../static/img/img.jpg"
                         alt="tytuł książki"
                         class="book-list-item-poster">
                </a>
                <div class="book-list-item-card">
                    <div class="book-list-item-content">
                        <h3 class="book-list-item-title">
                            <a href="#">Tytuł książki</a>
                        </h3>
                        <h4>Angielski tytuł książki</h4>
                        <p>1999</p>
                    </div>
                    <div class="book-list-item-rating">
                        <i class="fas fa-star"></i>
                        <span>8.7</span>
                    </div>
                </div>
            </li>
        </ul>
    </main>
    <footer class="footer">
        <p>Library 2024 <i class="fas fa-copyright"></i> Library.pl</p>
    </footer>
</div>
</body>
</html>