* {
    margin: 0;
    padding: 0;
    color: white;
}
/*Changing the default font*/
body {
    font-family: 'Roboto', sans-serif;
}
/*Set the color of links and remove underlines*/
a {
    text-decoration: none;
    color: #ffc107;
}
/*The background color of the main container and the flex layout setting
The elements will be placed one below the other
*/
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #424242;
}
/*The main section should scale as the browser window stretches
and should take up most of the available space
*/
.main-content {
    flex: 1;
}

/*MENU START*/
/*Color of the logo and the menu drop-down button*/
.logo,
#toggle-icon {
    color: #ffc107;
}
/*Settings for a responsive menu*/
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/*Menu items are hidden by default*/
.menu-item {
    width: 100%;
    padding: 16px;
    border-bottom: 1px #6d6d6d solid;
    text-align: center;
    display: none;
}
/*After pressing the button, the elements will be visible*/
.expanded > .menu-item {
    display: block;
}
/*padding for menu items*/
.menu-logo-container,
.menu-toggle {
    display: block;
    padding: 16px 32px;
    font-size: 20px;
}
/*MENU END*/
/*Listing START*/
/*Headline*/
.list-heading,
.list-description {
    text-align: center;
    margin: 16px 0;
}
/*Removing the decoration of list items (dots at the beginning)*/
.book-list {
    list-style-type: none;
}
/*Margin and border around a single video*/
.book-list-item {
    margin-bottom: 16px;
    display: flex;
    border: 1px #6d6d6d solid;
}
/*Poster - padding removal*/
.book-list-item-poster {
    display: block;
    max-width: 200px;
}
/*Movie card*/
.book-list-item-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
}
.book-list-item-content > * {
    margin: 8px 0;
}
.book-list-item-title {
    font-size: 1.6rem;
}
.book-list-item-rating {
    font-size: 1.6rem;
}
/*Listing END*/

/*FOOTER START*/
/*Centering the footer*/
.footer {
    padding: 8px;
    text-align: center;
}
/*FOOTER END*/

/*Responsive*/
@media only screen and (min-width: 992px) {
    /*On a screen above 992px, we hide the button to expand the menu*/
    .menu-toggle {
        display: none;
    }

    /*Menu items should no longer occupy the entire width, but should instead be next to each other*/
    .menu-item {
        display: block;
        width: auto;
        border-bottom: 0;
    }

    /*The container with the logo should be stretched and the navigation should be on the right side*/
    .menu-logo-container {
        flex: 1;
    }

    /*On a large screen, we limit the width to 960px*/
    .main-content,
    .menu {
        align-self: center;
        width: 960px;
    }
}